*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: black;
}



li {
  list-style: none;
}

a {
  text-decoration: none
}

.container {
  max-width: 1170px;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}




/* ヘッダー */
header {
  background-color: rgba(17, 23, 24, 0.863);
  background-size: cover;
  width: 100%;
  height: 60px;;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.8;
}

.header {
  overflow:hidden;
}

.header-logo {
  float: left;
  line-height: 60px;
  padding-left: 5px;
  letter-spacing: 4px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s all ease 0s;
}


.header-logo:hover {
  background-color: #333;
  opacity: 1;
}



.header-menu {
  float: right;
}

.header-menu li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 60px;
  transition: 0.5s all ease 0s;
}

.header-menu li:hover {
  background-color: #333;
  opacity: 1;
}


.header-menu a {
  color: #fff;
  display: inline-block;
  transition: 0.5s all ease 0s;
}


.header-menu a:hover {
  letter-spacing: 3px;
}




/* レスポンシブ メニューバー */
.responsive-menu {
  display: none;
  float: right;
  margin: 15px;
}

.fa-bars {
  font-size: 25px;
  cursor: pointer;
  float: right;
}

.fa-times {
  font-size: 25px;
  cursor: pointer;
  float: right;
}


.responsive-menu li {
  padding: 10px;
  margin-top: 100px;
  margin: 3px;
  background-color: black;
  display: none;
}

#responsive-menu-top {
  margin-top: 30px;
}

.responsive-menu a {
  color: #fff;
}

.responsive-menu li:hover{
  background-color: grey;
}
/* レスポンシブメニューバーここまで */
/* ヘッダーここまで */

/* トップ */
.top-wrapper {
  padding-top: 180px;
  height: 790px;
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0.712), rgba(255, 255, 255, 0.363)),
  url(img/top.jpg);
  background-size: cover;
  text-align: center;
  color: #fff;
  cursor: default;
}

.title h1 {
  font-size: 60px;
  letter-spacing: 10px;

}

.title h2 {
  margin-top: 50px;
  letter-spacing: 3px;
  font-family: 'Caveat', cursive;
}

/* トップここまで */

.heading {
  padding-top: 100px;
  padding-bottom: 80px;
  letter-spacing: 5px;
  cursor: default;

}

/* ここからプロフィール */
.profile-wrapper {
  background-color: rgb(25, 18, 27);
  height: 100%;
  color: #fff;
  text-align: center;
}

.profile-icon img {
  margin-top: 30px;
  margin-bottom: 50px;
  height: 250px;
  border-radius: 150px;
  border: 2px solid black;
  width: 260px;
}

.profile-icon h2 {
  letter-spacing: 3px;
}




.sns img {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.8;
  border-radius: 8px;
  align-items: center;
}

.sns img:hover{
  opacity: 1;
}


.introduction {
  margin-top: 30px;
}

.introduction p {
  margin-top: 20px;
}

.background {
  margin-top: 80px;
  padding-bottom: 150px;
}

.background p {
  margin-top: 10px;

}

.br-p {
  display: none;
}
/* プロフィールここまで */

/* Skills */
.skills-wrapper {
  text-align: center;
  height: 1260px;
  background-color: #f8f8f8;
  margin: 0;
}

.skills-wrapper span {
  color: #008db7;
}

.skill {
  margin-bottom: 100px;
}


.skill img {
  width: 20%;
  height: 20%;
}

.jq img {
  width: 15%;
  height: 15%;
}


.skill h3 {
  font-weight: bold;
  margin-bottom: 18px;
}

.skill p {
  padding-top: 8px;
  color: gray;
}




/* Skillsここまで */

/* ここからWorks */
.works-wrapper {
  text-align: center;
  height: 900px;
  background-color: white;
}

.works-wrapper span {
  color: crimson;
}


.works-wrapper h1 {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.works-wrapper h1::after {
  position: absolute;
  top: 65%;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.works-wrapper h1:hover::after {
  transform: scale(1, 1);
}



/* Worksここまで */

/* ここからcontact */
.contact-wrapper {
  height: 100%;
  padding-bottom: 180px;
  color: whitesmoke;
  background: linear-gradient( to top, rgb(0, 0, 0), rgb(48, 48, 48));
  overflow: hidden;
  text-align: center;
}

.contact-wrapper h3 {
  padding-bottom: 30px;
  letter-spacing: 2px;
}

.contact-wrapper p {
  line-height: 30px;
}

.contact-form {
  margin-top: 50px;
  
}

.contact-form p {
  padding:15px 0;
  position: relative;
  right: 125px;
}


.contact-form span {
  color: crimson;
}

input {
  border-radius: 4px;
  height: 25px;
  width:400px;
  transition: all 0.5s;
}

input:hover {
  background-color: rgb(204, 204, 204);
}

textarea {
  border-radius: 4px;
  width: 400px;
  height: 100px;
  transition: all 0.5s;
}

textarea:hover {
  background-color: rgb(204, 204, 204);
}

.submit {
  height: 25px;
  width: 100px;
  letter-spacing: 2px;
  padding: 16px 24px;
  line-height: 1px;
  border-radius: 4px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  color: #333;
  background-color: #fff
}

.submit:hover {
  background-color: rgb(138, 138, 138);
}


/* contactここまで */

/* footerここから */
footer {
  height: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
}

/* footerここまで */


